
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">Nguyễn Đình Huy</h4>
                        <p class="m-b-10">Giảng viên</p>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Danh sách sinh viên- Khóa <span>58</span> (<span>14</span>)</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">Nguyễn Đình Huy</b>
                                    <b class="text-inverse">Sinh viên</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <div class="btn btn-primary">
                                        Chi tiết
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         <!-- begin col-6 -->
                         <div class="col-md-6 m-b-2">
                            <div class="p-10 bg-white">
                               <div class="media media-xs overflow-visible">
                                  <a class="media-left" href="javascript:;">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                  </a>
                                  <div class="media-body valign-middle">
                                     <b class="text-inverse">Nguyễn Đình Huy</b>
                                     <b class="text-inverse">Sinh viên</b>
                                  </div>
                                  <div class="media-body valign-middle text-right overflow-visible">
                                     <div class="btn btn-primary">
                                         Chi tiết
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <!-- end col-6 -->
                          <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                            <div class="p-10 bg-white">
                               <div class="media media-xs overflow-visible">
                                  <a class="media-left" href="javascript:;">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                  </a>
                                  <div class="media-body valign-middle">
                                     <b class="text-inverse">Nguyễn Đình Huy</b>
                                     <b class="text-inverse">Sinh viên</b>
                                  </div>
                                  <div class="media-body valign-middle text-right overflow-visible">
                                     <div class="btn btn-primary">
                                         Chi tiết
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <!-- end col-6 -->
                          <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                            <div class="p-10 bg-white">
                               <div class="media media-xs overflow-visible">
                                  <a class="media-left" href="javascript:;">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                  </a>
                                  <div class="media-body valign-middle">
                                     <b class="text-inverse">Nguyễn Đình Huy</b>
                                     <b class="text-inverse">Sinh viên</b>
                                  </div>
                                  <div class="media-body valign-middle text-right overflow-visible">
                                     <div class="btn btn-primary">
                                         Chi tiết
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <!-- end col-6 -->
                     </div>
                     <!-- end row -->
                     <nav style="justify-content: flex-end; display: flex;">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>